@import "tailwindcss";

:root {
  --background: #faf9f8;
  --foreground: #303333;
  --surface: #f3f4f3;
  --surface-card: #ffffff;
  --primary: #0060ad;
  --primary-container: #68abff;
  --primary-light: #e8f0f8;
  --text-secondary: #5d605f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}
